{% extends "urlapp/base.html" %}
{% load static %}
{% block css_file %} <link rel="stylesheet" href="{static 'css/index.css'}"> {% endblock %}

{% block title %}
    Mytitle
{% endblock %}

{% block content %}
<div class="all">
    <div class="url">
        <form id="url-form" method="post" action="{% url 'urlshortner' %}">
            {% csrf_token %}
            <input type="url" name="input-url" class="url-content" placeholder="Paste your url">
            <button type="submit" class="btn btn-success">Shorten</button>
        </form>
        {% if key %}
            <br> <br>
            <div class="shorturl">
                <p id="text">{{ key }}</p>
                <br>
            </div>
            <button id="copy-text-btn"> Copy </button>
<script>

    function copyText(htmlElement){
    if (!htmlElement) {
        return;
    }
    let elementText = htmlElement.innerText;
    let inputElement =document.createElement ('input');
    inputElement.setAttribute('value', elementText);
    document.body.appendChild(inputElement);
    inputElement.select();
    document.execCommand ('copy');
    inputElement.parentNode.removeChild(inputElement);
}
document.querySelector('#copy-text-btn').onclick =
function (){
    copyText(document.querySelector ('#text'));
}
</script>
{% endif %}
    </div>
    <h1 class="h-primary center">Our Other Services</h1>
    <div id="box">   
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
    </div>
</div>
{% endblock %}

{% block css %}
    <style>
    .all{
        font-family: 'Red Hat Mono', monospace;
        border: 72px;
    }
    .shorturl{
        height: 5px;
        margin-left: 2rem;
        width: 20%;
        height: auto;
        background-color: rgb(235, 231, 255);
        padding-top:1rem;
        border-radius: 2rem ;
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-flow: wrap;
    }
    #copy-text-btn{
        border-radius: 21px;
        margin-left: 1rem;
        height: 56px;
        width:100px;
        background-color: rgb(41, 27, 122);
        color: white;
        font-size: 1rem;
        border:2px solid rgb(209, 209, 250);
        
    }

    #copy-text-btn:hover{
        background-color: rgb(47, 98, 238);
        cursor: pointer;
    }

    .url{
        height: 249px;
        width:100%;
        background: rgb(204, 199, 226);
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    .url-content{
        text-align: center;
        border-radius: 20px;
        height: 3.5rem;
        width: 25rem;
        /* margin-right: 20px; */
        font-size: 1rem;
        border: 5px solid rgb(54, 129, 241);
    }

    .url-content:focus{
        border-color: rgb(41, 27, 122);
    }

    #url-form{
        display: inline-block;
    }

    .btn-success{
        border-radius: 21px;
        height: 56px;
        width:100px;
        background-color: rgb(41, 27, 122);
        color: white;
        font-size: 1rem;
        border:2px solid rgb(209, 209, 250);
        
    }

    .btn-success:hover{
        background-color: rgb(47, 98, 238);
        cursor: pointer;
    }

    #box{
        width: 100%;
        height: auto;
        background-color: rgb(204, 199, 226);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    #box .services{
        width: 20%;
        height:100px;
        border: 3px solid rgb(54, 129, 241);
        padding: 34px;
        margin: 20px;
        border-radius: 28px;
        background: #f2f2f2;
        margin-bottom: 20px;
        box-sizing: border-box;
        justify-content: center;

    }

    @media screen and (max-width:1200px) {
        #box .services{
            width: 40%;
        }
    }

    @media screen and (max-width:500px) {
        #box .services{
            width: 600px;
        }
    }

    .h-primary{
        font-size: 2.5rem;
        padding: 12px;
        text-align: center;
    }
</style>
{% endblock %}
