{% extends "urlapp/base.html" %}
{% load static %}
{% block css_file %} <link rel="stylesheet" href="{% static '/css/index.css' %}"> {% endblock %}

{% block title %}
    Mytitle
{% endblock %}

{% block content %}
<div class="all">
    <div class="url">
        <form id="url-form" method="post" action="{% url 'urlshortner' %}">
            {% csrf_token %}
            <input type="url" name="input-url" class="url-content" placeholder="Paste your url">
            <button type="submit" class="btn btn-success">Shorten</button>
        </form>
        {% if key %}
            <br> <br>
            <div class="shorturl">
                <p id="text">{{ key }}</p>
                <br>
            </div>
            <button id="copy-text-btn"> Copy </button>
<script>

    function copyText(htmlElement){
    if (!htmlElement) {
        return;
    }
    let elementText = htmlElement.innerText;
    let inputElement =document.createElement ('input');
    inputElement.setAttribute('value', elementText);
    document.body.appendChild(inputElement);
    inputElement.select();
    document.execCommand ('copy');
    inputElement.parentNode.removeChild(inputElement);
}
document.querySelector('#copy-text-btn').onclick =
function (){
    copyText(document.querySelector ('#text'));
}
</script>
{% endif %}
    </div>
    <h1 class="h-primary center">Our Other Services</h1>
    <div id="box">   
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
        <div class="services">Convert .JPG to .PDF</div>
    </div>
</div>
{% endblock %}

