.all{
    font-family: 'Red Hat Mono', monospace;
    border: 72px;
}

.url{
    height: 249px;
    width:100%;
    background: rgb(204, 199, 226);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.url-content{
    text-align: center;
    border-radius: 20px;
    height: 50px;
    width: 364px;
    /* margin-right: 20px; */
    font-size: 1rem;
    border: 5px solid rgb(54, 129, 241);
}

.url-content:focus{
    border-color: rgb(41, 27, 122);
}

#url-form{
    display: inline-block;
}

.btn-success{
    border-radius: 21px;
    height: 56px;
    width:100px;
    background-color: rgb(41, 27, 122);
    color: white;
    font-size: 1rem;
    border:2px solid rgb(209, 209, 250);
    
}

.btn-success:hover{
    background-color: rgb(47, 98, 238);
    cursor: pointer;
}
#text{
    padding-top: .4rem;
    text-align: center;
    align-items: center;
    margin-top: 2.3rem ;
    margin-left: 1.5rem;
    border-radius: 20px;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    border: 3px solid rgb(54, 129, 241);
    background-color: rgb(192, 255, 255);
}

#copy-text-btn{
    border-radius: 21px;
    height: 50px;
    width:100px;
    margin-left: 0.7rem;
    background-color: rgb(41, 27, 122);
    color: white;
    font-size: 1rem;
    border:2px solid rgb(209, 209, 250);
    
}

#copy-text-btn:hover{
    background-color: rgb(47, 98, 238);
    cursor: pointer;
}

#box{
    width: 100%;
    height: auto;
    background-color: rgb(204, 199, 226);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
 #box .services{
     width: 20%;
     height:100px;
    border: 3px solid rgb(54, 129, 241);
    padding: 34px;
    margin: 20px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;

}

@media screen and (max-width:1200px) {
    #box .services{
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    #box .services{
        width: 600px;
    }
}

.h-primary{
    font-size: 2.5rem;
    padding: 12px;
    text-align: center;
}